<section class="container">
  <picture class="logo">
    <img src="/assets/png/Main_Logo.png" />
  </picture>

  <h1 class="main__title">Starpay</h1>

  <div class="season__container">
    <ul class="season__list">
      @for (season of seasons; track season.season; let index = $index) {
        <li class="season__item" [ngStyle]="{ '--delay': index * 0.3 + 's' }">
          <star-card
            [title]="season.season"
            [imageSrc]="season.imageSrc"
            [param]="season.param"
          >
          </star-card>
        </li>
      }
    </ul>
  </div>
</section>
