.card__container {
  display: flex;
  justify-content: center;
  align-items: center;

  background: url("/assets/png/Frame.png") no-repeat center center/cover;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s;
  width: 6.6rem;
  height: 5rem;

  /* 106 * 90 */

  @media (min-width: 768px) {
    /* padding: 1.2rem; */
    h3 {
      font-size: 1.125rem; /* 18px */
    }
  }

  &:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
  }

  .card__content {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    text-align: center;

    & a {
      width: 100%;
    }

    & img {
      width: 30px;
    }

    @media (min-width: 768px) {
      .null {
        object-fit: contain;
      }
    }
  }
}
