<div class="dialog__container">
  <div class="dialog__close" (click)="closeDialog()"></div>
  <div class="dialog__content">
    <star-card [title]="crop().name" [imageSrc]="crop().imagePath" />
    <div class="dialog__slider" #sliderContainer>
      <div class="dialog__slide">
        <star-crop-details [crop]="crop()" />
        <div id="next" (click)="nextSlide()"></div>
      </div>
      <div class="dialog__slide">
        <star-crop-incoming [crop]="crop()" />
        <div id="back" (click)="previousSlide()"></div>
      </div>
    </div>
  </div>
</div>
