.dialog__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 60vh;
  position: relative;
  overflow: hidden;

  .dialog__close {
    position: absolute;
    background: url("/assets/png/Exit.png") no-repeat center center/contain;
    width: 42px;
    height: 42px;
    top: 10px;
    right: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      filter: brightness(1.2);
    }
  }

  .dialog__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .dialog__slider {
      display: flex;
      position: relative;
      min-height: inherit;
      scroll-behavior: smooth;
      overflow: hidden;
      width: inherit;

      .dialog__slide {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 100%;
      }
    }
  }

  .arrow {
    position: absolute;
    background: url("/assets/png/Arrow.png") no-repeat center center/contain;
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    bottom: 50%;

    @media (min-width: 768px) {
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  #next {
    right: 1rem;
    animation: scalingRight 1s infinite alternate;
  }

  #back {
    left: 1rem;
    animation: scalingLeft 1s infinite alternate;
  }

  @media (min-width: 1280px) {
    #back {
      left: 1rem;
    }
    #next {
      right: 1rem;
    }
  }
}

@keyframes scalingRight {
  0% {
    transform: rotate(90deg) scaleX(-1) scale(1);
  }
  100% {
    transform: rotate(90deg) scaleX(-1) scale(1.1);
  }
}

@keyframes scalingLeft {
  0% {
    transform: rotate(90deg) scaleY(-1) scaleX(-1) scale(1);
  }
  100% {
    transform: rotate(90deg) scaleY(-1) scaleX(-1) scale(1.1);
  }
}
