.crops__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.crop__dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  overflow-x: hidden;

  border: 10px solid;
  border-radius: 14px;
  border-image: url("/assets/png/Menu_Border.png") 12;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  @media (min-width: 768px) {
    max-width: 50%;
    margin: auto;
  }
}
