<section class="about__container">
  <div class="about__title">
    <h1>What is Starpay</h1>
  </div>

  <div class="about__content">
    <div class="about__text">
      <p>
        Starpay is a small project I created because at the time that I was
        learning how to play
        <span class="stardew">Stardew Valley</span>
        I found myself constantly checking the wiki to figure out how long crops
        would take to grow and how much profit I could make from the harvest.
        Although Im not expert, I thought it would be great for me to have an
        incentive to learn more about the game while also developing this
        project including some of my experience in Stardew Valley.
      </p>
    </div>
  </div>
</section>
