.crops__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: auto;
  height: inherit;

  .crop__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;

    @media (min-width: 768px) {
      justify-content: center;
      grid-template-columns: repeat(3, minmax(150px, 250px));
    }

    @media (max-width: 768px) {
      gap: 1rem;
    }

    .crop__item {
      justify-self: center;
      opacity: 0;
      animation: fadeIn 0.5s ease-in-out forwards;
      animation-delay: var(--delay);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
